<form action="/singup" method="post">


    <input type="text" name="email" placeholder="email">

    <input type="text" name="password" placeholder="password">

    <button type="submit">Singup</button>

</form>